<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__user_name">
    <%= link_to "#{current_user.name}", edit_user_path(current_user.id) %> 
    </div>
    <div class="create_room">
    <%= link_to "チャットを作成する", new_room_path %> 
    </div>
  </div>
  <div class="sidebar__main">
    <ul class="room_lists">
        <% current_user.rooms.each do |room| %>
        <li class="room_list">
        <%= link_to "#{room.name}", '#' %>
        </li>
        <% end %> 
     </ul>
  </div>
</div>