<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__user_name">
    <%= link_to "#{current_user.name}", edit_user_path(current_user.id) %> 
    </div>
    <div class="create_room">
    <%= link_to "チャットを作成する", new_room_path %> 
    </div>
  </div>
  <div class="sidebar__main">
    <div class="room_lists">
        <% current_user.rooms.each do |room| %>
          <div class="room_list">
          <%= link_to room.name, room_messages_path(room) %>
          </div>
        <% end %> 
    </div>
  </div>
</div>